opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86  
pytesseract==0.3.13
ultralytics==8.3.101
fastapi==0.115.12
paddleocr==2.10.0
paddlepaddle  # PaddlePaddle (required by PaddleOCR)
shapely==2.0.4       # Often needed for geometry operations in PaddleOCR
python-multipart     # Required if FastAPI handles file uploads\
uvicorn==0.34.2
fastapi==0.115.12
python-telegram-bot==20.3
requests==2.31.0